@model IEnumerable<eBidWEBSITE.Models.tblContact>

@{
    ViewBag.Title = "contactusdisplay";
    Layout = "~/Views/dashboard/_dashboard.cshtml";
}









<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">USERS MASSEGES</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">NAME</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">phone</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Subject</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Message</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr >
                                        <td>
                                            
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Contact_name</h6>
                                                    <p class="text-xs text-secondary mb-0">@item.Contact_email</p>
                                                </div>
                                           
                                        </td>
                                        <td>
                                           
                                                <p class="text-xs text-center font-weight-bold mb-0">@item.Contact_phone</p>
                                                
                                           
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="badge badge-sm bg-gradient-success">@item.Contact_subject</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <textarea class="text-xs text-secondary" style="height:60px;">@item.Contact_message</textarea>
                                        </td>
                                       
                                    </tr>


                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>

</div>