@model IEnumerable<eBidWEBSITE.Models.tblbidcategory>

@{
    ViewBag.Title = "displayBIDCategory";
    Layout = "~/Views/dashboard/_dashboard.cshtml";
}



<p>
    <span class="badge badge-sm bg-gradient-success">
        @Url.Action("Create New", "Create")
        </span>
</p>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">BIDS CATEGORY LIST</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bid ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Bid Category</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Edit</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete</th>
                          
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                       
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.BidcatId</p>
                                            <p class="text-xs text-secondary mb-0">eBid</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.Bidcatname</p>
                                            <p class="text-xs text-secondary mb-0">eBid</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <a class="badge badge-sm bg-gradient-success" href="@Url.Action("Edit", "BIDcategory", new { id = item.BidcatId })">Edit</a>
                                        </td>

                                        <td class="align-middle text-center">

                                            <a class="badge badge-sm bg-gradient-danger" href="@Url.Action("Delete", "BIDcategory", new { id = item.BidcatId })">delete</a>
                                           
                                        </td>

                                      


                                    </tr>
                                }




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>





